target
.svn
_ReSharper*
*.user
*.cache
*.suo
.project
.classpath
.settings
vulcan-web/.springBeans
vulcan-web/build.xml
vulcan-web/build.properties
obj
VersionInfo.cs
install-local.sh
plugins/vulcan-ant/build.properties
plugins/vulcan-maven/log.txt
plugins/vulcan-dotnet/source/test/java/commons-logging.properties
plugins/vulcan-dotnet/source/test/java/simplelog.properties
plugins/vulcan-dotnet/vs2005.4.0.resharper
plugins/vulcan-jabber/source/test/java/net/sourceforge/vulcan/jabber/LiveTest.java
plugins/vulcan-maven/build.properties
vulcan-core/source/test/java/commons-logging.properties
vulcan-core/source/test/java/simplelog.properties
